.cv-container {
  max-width: 80%;  /* Rajoitetaan leveys, jotta teksti pysyy luettavana */
  margin: 0 auto;  /* Keskittää sisällön vaakasuunnassa */
  padding: 20px;   /* Tilaa ympärille */
  background-color: #f9f9f9; /* Light background for the container */
  border-radius: 15px; /* Rounded corners for the container */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Small shadow for the container */
}

h1 {
  text-align: center;
  margin-bottom: 50px; /* Reduced bottom margin */
  font-size: 2.5rem; /* Larger font size */
  color: #0D6478; /* Green color for the title */
}

.course-list {
  margin-top: 30px;
  margin-bottom: 50px; /* Reduced bottom margin */
}

.course-item {
  border: 1px solid #0D6478;
  padding: 20px; /* Increased padding */
  margin-bottom: 20px; /* Increased bottom margin */
  border-radius: 10px; /* More rounded corners */
  background-color: #ffffff; /* White background */
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover effects */
}

.course-item:hover {
  transform: translateY(-5px); /* Slight lift on hover */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Larger shadow on hover */
}

.course-title {
  font-size: 1.5rem; /* Larger font size */
  font-weight: bold;
  margin: 0;
  color: #0D6478;
}

.course-title:hover {
  text-decoration: underline;
}

.course-description, .course-credits {
  margin-top: 10px;
  font-size: 1rem; /* Slightly larger font size */
  color: #333; /* Darker color for better readability */
}