
.exchange-container {
    max-width: 80%;  /* Rajoitetaan leveys, jotta teksti pysyy luettavana */
    margin: 0 auto;     /* Keskittää sisällön vaakasuunnassa */
    padding: 20px;      /* Tilaa ympärille */
  }
  
  h1 {
    text-align: center;
    margin-bottom: 200px;
  }
  
  
  .course-list {
    margin-top: 30px;
    margin-bottom: 100px;
  }
  
  .course-item {
    border: 1px solid #606c38;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    background-color: #f9f9f9;
    cursor: pointer;
  }
  
  .course-title {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    color: #606c38;
  }
  
  .course-title:hover {
    text-decoration: underline;
  }
  
  .course-description, .course-credits {
    margin-top: 10px;
    font-size: 16px;
  }
  