.footer {
    width: 100%;
    background-color: #cfcfcf;
    color: white;
    padding: 15px 30px;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between; /* Teksti vasemmalle, ikonit oikealle */
    align-items: center;
    height: 20px; /* Kiinteä korkeus */
  }
  
  .footer-text {
    margin: 0;
    font-size: 1rem;
    color: #606c38;
    font-weight: bold;
    font-family: Kingdom; /* Kingdom fontti käyttöön */
    text-transform: uppercase; /* Muuttaa isoksi */
    letter-spacing: 1px; /* Kirjainten väliin tilaa */
  }
  
  .social-media {
    display: flex;
    gap: 15px; /* Väli ikonien välille */
    position: absolute;
    right: 100px; /* Siirretään footerin oikeaan laitaan */
  }
  
  .icon {
    width: 30px; /* Yhtenäinen koko */
    height: 30px;
    border-radius: 50%; /* Pyöreä muoto */
    object-fit: cover;
    transition: transform 0.2s ease-in-out;
  }
  
  .icon:hover {
    transform: scale(1.2);
  }
  