.homepage {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: #f7f7f7;
  color: #000;
  margin: 0;
  padding: 0;
  padding-top: 25px; /* Jotta header ei peitä sisältöä */
}

html {
  scroll-behavior: smooth;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  padding: 1rem;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.navbar ul {
  display: flex;
  justify-content: center;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1.2rem;
  transition: color 0.3s;
}


.homepage-header {
  position: relative;
  background-image: url("../images/image.png");
  background-size: cover;
  background-position: center;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  padding-top: 0px;
}

.homepage-title {
  font-size: 100px;
  font-weight: bold;
  color: white;
  margin: 0;
  z-index: 1;
}

.homepage-subtitle {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  position: absolute;
  left: 10px;
  top: 60%;
  font-weight: bold;
  color: white;
  font-size: 24px;
  letter-spacing: 2px;
  z-index: 1;
}

.about-title,
.contact-title,
.projects-title {
  font-size: 48px;
  font-weight: bold;
  color: black;
  margin-top: 20px;
  text-align: center; /* Center text horizontally */
}
.project-section,
.contact-container {
  display: flex;
  flex-direction: column; /* Stack content vertically */
  justify-content: center; /* Center content vertically */
  text-align: center; /* Center text inside the container */
  padding: 20px; /* Add some padding for spacing */
}

.contact-container{
  padding-bottom: 100px;
}
.section-container {
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  height: 100vh; /* Full viewport height for centering */
  flex-direction: column; /* Stack content vertically */
}
.homepage-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px;
  flex-wrap: wrap;
}

.about-section {
  flex: 1;
  padding-right: 100px;
  min-width: 350px;
}

.about-text {
  font-size: 20px;
  line-height: 1.6;
  text-align: left;
}

.profile-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
}


.profile-image {
  width: 250px;
  height: auto;
  border-radius: 15px;
  object-fit: cover;
}


.sosiaalinen-media {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px; 
}

.sosiaalinen-media .icon {
  width: 70px; /* Increase the width of the icons */
  height: 70px; /* Increase the height of the icons */
  transition: transform 0.3s ease; /* Add a smooth hover effect */
}


/* Responsiivisuus mobiililaitteille */
@media (max-width: 768px) {
  .homepage-header {
    height: 600px;
    padding-top: 8px;
  }

  .homepage-title {
    font-size: 68px;
  }

  .homepage-subtitle {
    font-size: 25px;
    top: 50%;
  }

  .about-title {
    font-size: 42px;
    text-align: center;
  }

  .homepage-content {
    flex-direction: column;
    padding: 30px 20px;
    align-items: center;
  }

  .about-section {
    padding: 0;
    margin-bottom: 30px;
  }

  .about-text {
    font-size: 18px;
    text-align: center;
  }

  .profile-image {
    width: 180px;
    

  }
}

