/* Yleiset asetukset */
.homepage {
  font-family: 'Courier New', Courier, monospace;
  background-color: #f7f7f7;
  color: #000;
  margin: 0;
  padding: 0;
}

/* Header-osa */
.homepage-header {
  position: relative;
  background-image: url("../images/image.png");
  background-size: cover;
  background-position: center;
  height: 900px;
  badding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.homepage-title {
  font-size: 64px;
  font-weight: bold;
  color: white;
  margin: 0;

}

.homepage-subtitle {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  position: absolute;
  left: 10px;
  top: 65%;
  font-weight: bold;
  color: white;
  font-size: 24px;
  letter-spacing: 2px;
}

.about-title {
  font-size: 48px;
  font-weight: bold;
  color: white;
  margin-top: 20px;
}

/* Sisältöosa */
.homepage-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px;
  flex-wrap: wrap;
}

.about-section {
  flex: 1;
  padding-right: 200px;
  min-width: 350px;
}

.about-text {
  font-size: 20px;
  line-height: 1.6;
  text-align: left;
  
}
.about-text p {
  margin-bottom: 20px;
}

.profile-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
}


.profile-image {
  width: 250px;
  height: auto;
  border-radius: 15px;
  object-fit: cover;
}
