
.ainfo-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  max-width: 85%; 
  padding: 30px; 
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #ccd5ae;
  border: 1px solid #606c38;
  margin: 50px auto; 
  margin-bottom: 100px;
}
  .ainfo-box h1 {
    font-size: 30px;
    font-family: Kingdom; /* Kingdom fontti käyttöön */
    text-transform: uppercase; /* Muuttaa isoksi */
    letter-spacing: 2px; /* Kirjainten väliin tilaa */
    font-weight: bold;
    margin-bottom: 15px;
  }
  .ainfo-box p {
    font-size: 20px;
    font-family: Kingdom;
    text-align: center;
  }
 
  .ainfo-box a {
    color: rgb(102, 69, 41);
   
    font-size: 20px;
    font-family: Kingdom;
    margin-top: 20px;
  }