/* Header.css */
.header {
    position: sticky;
    top: 0;
    z-index: 50;
    background-color: rgba(255, 255, 255, 0.95);
    transition: all 0.3s ease;
    padding: 0.rem 2rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    
}



.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  max-width: 1200px;
  
  
}
.header .site-title {
  font-size: 3rem;
  font-weight: bold;
  width: 80%;
  margin: 0;
  font-family: Kingdom; /* Kingdom fontti käyttöön */
  letter-spacing: 2px; /* Kirjainten väliin tilaa */
  
}

.header .nav-links {
    display: flex;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header .nav-links li a {
    text-decoration: none;
    color: #525252;
    font-size: 1,5rem;
    transition: color 0.2s ease;
}

.header .nav-links li a:hover {
    color: #171717;
}

.header.scrolled {
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 0.25rem 2rem;
}

@media (max-width: 768px) {
    .header .nav-bar {
        flex-direction: column;
        align-items: center;
    }

    .header .nav-links {
        margin-top: 0.5rem;
        flex-wrap: wrap;
        justify-content: center;
    }
}